<table class="table">
    <% if @range == "User"%>
    <tbody>
        <% @users.each do |user| %>
        <tr>
            <td></td>
        </tr>
        <% end %>
    </tbody>
    <% else %>
    <tbody>
        <% @bools.each do |book| %>
        <tr>
            <td></td>
        </tr>
        <% end %>
    </tbody>
    <% end %>
</table>